<!DOCTYPE html>
<html lang="en">
<head>
    <link rel="preconnect" href="https://fonts.googleapis.com">
<link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
<link href="https://fonts.googleapis.com/css2?family=Special+Elite&display=swap" rel="stylesheet">
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/style.css">

    <title>Movie Diary</title>
</head>
<body>
    <%- include('../partials/nav.ejs') %>

    <h1>Movie Diary:</h1>
    

    <ul>
        <% allMovies.forEach(movie => { %>
        <li>
            <a href="/movies/<%= movie._id %>">
            <%= movie.title %>

            <% if (movie.rating === 100) { %>
                <span>тнРя╕ПтнРя╕ПтнРя╕ПтнРя╕ПтнРя╕ПЁЯдй</span>
            <% } else if (movie.rating >= 90) { %>
                <span>тнРя╕ПтнРя╕ПтнРя╕ПтнРя╕П</span>
            <% } else if (movie.rating >= 75) { %>
                <span>тнРя╕ПтнРя╕ПтнРя╕П</span>
            <% } else if (movie.rating >= 50) { %>
                <span>тнРя╕ПтнРя╕П</span>
            <% } else { %>
                <span>ЁЯТй</span>
            <% } %>

            </a>
        </li>
        <% }) %>
    </ul>
</body>
</html>
