<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Add a movie</title>
</head>
<body>
    <%- include('../partials/nav.ejs')%>

    <h1>Add a movie:</h1>
    <form action="/movies" method="POST">
        <div>
            <label hidden for="title">Title</label>
            <input type="text" name="title" id="title" placeholder="title" required>
        </div>
        <div>
            <label hidden for="director">Director</label>
            <input type="text" name="director" id="director" placeholder="director">
        </div>
        <div>
            <label hidden for="releaseYear">Release Year</label>
            <input type="number" name="releaseYear" id="releaseYear" placeholder="releaseYear">
        </div>
        <div>
            <label hidden for="genre">Genre</label>
            <input type="text" name="genre" id="genre" placeholder="genre">
        </div>
        <div>
            <label hidden for="rating">Rating</label>
            <input type="number" name="rating" id="rating" placeholder="rating">
        </div>

        <button type="submit">Add movie</button>
    </form>
</body>
</html>